<div class="page">
  <div class="container">
    <h2>Random Password Generator</h2>
    <hr>
  </div>
  <div class="container">
    <form method="POST" action="/" id="form" novalidate>
      <div class="row">
        <div class="label">
          <label for="length">Password Length</label>
        </div>
        <div class="input">
          <input class="form-control pwd-len" type="number" id="length" name="length" min="4" max="16" value="{{#if data.length}}{{data.length}}{{/if}}" required>
          <div class="memo">Length is available between 4~16</div>
        </div>
      </div>
      <fieldset>
        <div class="row">
          <div class="label">
            <label for="lowercase">Include Lowercase Characters</label>
          </div>
          <div class="input">
            <input class="form-check-input" type="checkbox" id="lowercase" name="lowercase" value="lowercase" {{#if data.lowercase}}checked{{/if}}>
            (e.gabcdefg)
          </div>
        </div>
        <div class="row">
          <div class="label">
            <label for="uppercase">Include Uppercase Characters</label>
          </div>
          <div class="input">
            <input class="form-check-input" type="checkbox" id="uppercase" name="uppercase" value="uppercase" {{#if data.uppercase}}checked{{/if}}> (e.g.
            ABCDEFG)
          </div>
        </div>
        <div class="row">
          <div class="label">
            <label for="number">Include Numbers </label>
          </div>
          <div class="input">
            <input class="form-check-input" type="checkbox" id="number" name="number" value="number" {{#if data.number}}checked{{/if}}> (e.g. 123456)
          </div>
        </div>
        <div class="row">
          <div class="label">
            <label for="symbol">Include Symbols</label>
          </div>
          <div class="input">
            <input class="form-check-input" type="checkbox" id="symbol" name="symbol" value="symbol" {{#if data.symbol}}checked{{/if}}> (e.g. @#$%)
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="label">
          <label for="exclude">Exclude Characters</label>
        </div>
        <div class="input">
          <input class="form-control" type="text" id="exclude" name="exclude" value={{#if data.exclude}}{{data.exclude}}{{/if}}>
          <div class="memo">These characters will not appear in the password.</div>
        </div>
      </div>
      <div class="pwd-container">
        <div class="gen-msg">Your Password is:</div>
        <div class="final-pwd">{{password}}</div>
      </div>
      <button type="submit" class="btn btn-success">Generate Password</button>
    </form>
  </div>
</div>